.photogallery-container {
  width: 100%;
  height: auto;
  background-color: #333333;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.photogallery-title {
  padding-top: 15px;
  text-align: center;
  color: #fcf1ce;
  font-weight: bold;
}

.photogallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
}

.photogallery-images img {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  display: block;
  border-radius: 5px;
  transition: all 100ms ease-out;
}

.photogallery-images img:hover {
  transform: scale(1.04);
  transition: all ease 0.5s;
}

.photogallery-container button {
    font-size: 18px;
    font-weight: 800;
    padding: 8px 5px;
    border-radius: 5px;
    outline: none;
    align-items: left;
    margin-left: 12px;
    width: 160px;
    color: white;
    /* Use a dark color for the button */
    border: 1px solid #333;
    background-color: #333;
}

.photogallery-container button:hover {
    /* Change to a lighter color on hover */
    background-color: #555;
    color: white;
    border: 1px solid #555;
    transition: all ease 0.5s;
}
